.Wrapper {
  display: flex;
  z-index: 1;
  border-right: 1px solid rgba(26, 26, 26, 0.1);

  @include ifmobile {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -100%;
    background: $body;
    transition: right 0.6s ease;
    border-right: none;
  }
  &.Visible {
    transition: right 0.6s ease;
    @include ifmobile {
      right: 0;
    }
  }
}

.Sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: sticky;
  top: em(125px);
  width: em(337px);
  height: calc(100vh - em(125px));
  overflow: hidden;
  padding-top: em(68px);

  &:hover {
    overflow: auto;
    @include ifmobile {
      overflow: hidden;
    }
  }
  @include iflaptop {
    width: em(223px);
    top: em(103px);
    height: calc(100vh - em(103px));
  }
  @include iftablet {
    width: em(161px);
    top: em(103px);
    height: calc(100vh - em(103px));
  }
  @include iftablet-mini {
    width: em(161px);
    top: em(103px);
    height: calc(100vh - em(103px));
  }
  @include ifmobile {
    width: 100%;
    top: 0;
    position: fixed;
    min-height: 100vh;
    max-height: 100%;
    padding-top: 0;
    overflow: auto;
  }

  &_Header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: em(22px) em(20px) 0;
    margin-bottom: em(83px);
    @include ifmobile {
      display: flex;
    }
    .Logo {
      width: em(124px);
      height: em(50px);
    }

    .Close {
      cursor: pointer;
      width: em(24px);
      height: em(24px);
    }
  }

  &_User {
    display: none;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(26, 26, 26, 0.05);
    padding: 0 em(20px) em(37px);
    margin-bottom: em(24px);
    @include ifmobile {
      display: flex;
    }

    .Icon {
      width: em(29px);
      height: em(29px);
      margin-right: em(19px);
    }
  }

  &_Logout {
    display: none;
    flex-direction: row;
    align-items: center;
    padding: em(37px) em(20px) 0;
    border-top: 1px solid rgba(26, 26, 26, 0.05);
    margin-bottom: em(90px);
    @include ifmobile {
      display: flex;
    }

    .Icon {
      width: em(29px);
      height: em(24px);
      margin-right: em(19px);
    }
    .Label {
      color: $red3;
      font-size: em(16px);
      font-style: normal;
      font-weight: 500;
      line-height: 122.796%;
      letter-spacing: -0.24px;
    }
  }

  &_Navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all $speed linear;
    margin-bottom: em(40px);

    @include ifmobile {
      margin-bottom: em(24px);
    }

    li {
      list-style: none;
      &:not(:last-child) {
        margin-bottom: em(8px);
      }
      .Item {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all $speed ease;
        width: 100%;
        padding: em(16px) em(20px) em(16px) em(70px);
        @include iflaptop {
          padding: em(16px) em(20px) em(16px) em(40px);
        }
        @include iftablet {
          padding: em(16px) em(13px) em(16px) em(20px);
        }
        @include iftablet-mini {
          padding: em(16px) em(13px) em(16px) em(20px);
        }
        @include ifmobile {
          padding: em(16px) em(20px);
        }
        &:hover {
          background: rgba(145, 17, 14, 0.1);
          .Item_Icon {
            path,
            circle,
            ellipse {
              stroke: #26355f;
            }
          }
        }

        &_Active {
          background: $grey;
          pointer-events: none;
          .Item_Label {
            span {
              color: $black;
            }
          }
        }

        &_Icon {
          width: em(30px);
          height: em(30px);
          margin-right: em(16px);
          @include iftablet {
            width: em(25px);
            height: em(25px);
          }
          @include iftablet-mini {
            width: em(25px);
            height: em(25px);
          }
        }

        &_Label {
          line-height: 100%;
          span {
            color: $black;
            font-size: em(16px);
            font-style: normal;
            font-weight: 500;
            line-height: 93.75%;
            letter-spacing: -0.24px;
            @include iftablet {
              font-size: em(12px);
            }
            @include iftablet-mini {
              font-size: em(12px);
            }
          }
        }
      }
    }
  }

  &_Copyright {
    margin-top: auto;
    padding: 0 em(20px) em(44px) em(70px);
    position: relative;
    z-index: 1000;
    @include iflaptop {
      padding: 0 em(9px) em(18px) em(17px);
    }
    @include iftablet {
      padding: 0 em(24px) em(16px) em(16px);
    }
    @include iftablet-mini {
      padding: 0 em(24px) em(16px) em(16px);
    }
    @include ifmobile {
      padding: 0 em(20px) em(44px);
    }

    p {
      color: rgba(26, 26, 26, 0.4);
      font-size: em(12px);
      font-style: normal;
      font-weight: 700;
      line-height: 114.286%;
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include iftablet-mini {
}
@include ifmobile {
}
