.Header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: $body;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $base100light;
  padding: em(32px) em(70px);
  min-height: em(125px);
  @include iflaptop {
    padding: em(32px) em(40px);
    min-height: em(90px);
  }
  @include iftablet {
    padding: em(32px) em(20px);
    min-height: em(90px);
  }
  @include iftablet-mini {
    padding: em(32px) em(20px);
    min-height: em(90px);
  }
  @include ifmobile {
    padding: em(22px) em(20px);
    min-height: em(74px);
    align-items: center;
  }

  &_Logo {
    transform: translate(0, em(15px));
    @include iflaptop {
      transform: translate(0, em(8px));
    }
    @include iftablet {
      transform: translate(0, em(8px));
    }
    @include iftablet-mini {
      transform: translate(0, em(8px));
    }
    @include ifmobile {
      display: none !important;
    }
  }

  &_User {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include ifmobile {
      display: none;
    }
    .UserIcon {
      width: em(27px);
      height: em(27px);
    }
    .LogoutIcon {
      width: em(20px);
      height: em(21px);
      cursor: pointer;
      overflow: visible;
      path {
        transition: transform $speed ease;
      }
      &:hover {
        path:last-child {
          transform: translate(3px, 0);
        }
      }
    }
    .Name {
      margin: 0 em(29px) 0 em(14px);
    }
  }

  &_Title {
    display: none;
    align-items: center;
    @include ifmobile {
      display: flex;
    }

    .Logo {
      width: em(110px);
      height: em(29px);
      margin-right: em(16px);
    }
    h1 {
      color: $black;
      font-family: $Blacksword;
      font-size: em(32px);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }
  }

  &_Burger {
    display: none;
    cursor: pointer;
    width: em(25px);
    height: em(18px);
    @include ifmobile {
      display: block;
    }
  }

  &_Filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: em(65px);
    opacity: 0;
    pointer-events: none;
    transform: translate(20px, 0);
    transition: all 0.5s ease;
    &_Visible {
      opacity: 1;
      pointer-events: initial;
      transform: translate(0);
    }

    .Search {
      margin-right: em(35px);
    }

    .Search,
    .Forms {
      &_Field {
        opacity: 0;
        pointer-events: none;
        transform: translate(20px, 0);
        transition: all 0.5s ease;
      }
    }

    .Forms {
      min-width: em(224px);
    }

    .Reset {
      width: 0%;
      opacity: 0;
      pointer-events: none;
      margin-left: 0;
      transform: translate(20px, 0);
      transition: all 0.5s ease;
      &_Visible {
        width: 100%;
        opacity: 1;
        margin-left: em(35px);
        pointer-events: initial;
        transform: translate(0);
      }
    }

    .Burger {
      opacity: 0;
      pointer-events: none;
      transform: translate(20px, 0);
      transition: all 0.5s ease;
      margin-left: em(35px);
      &_Visible {
        opacity: 1;
        pointer-events: initial;
        transform: translate(0);
      }
    }

    .Content {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      &_Visible {
        .Search,
        .Forms {
          .Search_Field,
          .Forms_Field {
            opacity: 1;
            pointer-events: initial;
            transform: translate(0);
          }
        }
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include iftablet-mini {
}
@include ifmobile {
}
