.BaseInput {
  position: relative;
  display: flex;
  flex-direction: column;

  //DEFAULT THEME
  .Input {
    $size: 14px;
    width: 100%;
    height: em(48px, $size);
    background: none;
    outline: none;
    border: none;
    position: relative;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid $base600light;
    transition: all 0.3s ease;
    @include placeholder-color(transparent);
    padding: em(23px, $size) em(16px, $size) em(10px, $size) em(10px, $size);

    text-overflow: ellipsis;
    font-family: 'Mulish', sans-serif;
    font-size: em($size);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #1a1a1a;
    &::placeholder {
      visibility: hidden;
    }

    &:focus + .Label {
      $size: 12px;
      top: em(0px);
      font-size: em($size);
    }

    & + .NoEmpty {
      $size: 12px;
      top: em(0px);
      font-size: em($size);
    }
  }

  .Label {
    $size: 14px;
    display: flex;
    position: absolute;
    top: em(17px, $size);
    left: em(10px, $size);
    pointer-events: none;
    color: #1a1a1a;
    opacity: 0.6;
    font-family: 'Mulish', sans-serif;
    font-size: em($size);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    transition: top 0.3s ease, font-size 0.3s ease;
  }

  .Error {
    border-bottom: 1px solid #a61613 !important;
  }

  .ErrorEmail {
    padding-right: em(100px);
  }

  .ErrorText {
    position: absolute;
    bottom: em(10px);
    right: em(10px);
    span {
      overflow: hidden;
      color: #a61613;
      text-overflow: ellipsis;
      font-family: $Mulish;
      font-size: em(10px);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }
  }

  //LIGHT THEME
  &_Light {
    .Input {
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      &:focus + .Label {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .Label {
      color: #fff;
    }

    .NoEmpty {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  //disabled style
  .Input:disabled,
  .Input:disabled:hover,
  .Input:disabled:focus {
    cursor: not-allowed;
    pointer-events: none;
    color: $base400light;
    border-color: $base400light;

    & + .Label {
      color: $base400light;
    }
  }
}
