.Reset {
  width: em(30px);
  height: em(30px);
  cursor: pointer;
  align-self: center;
  path {
    transition: fill $speed ease;
  }
  &:hover {
    path:first-child {
      fill: $red;
    }
  }
}
