$grey: #d6dbe1;

$black: #1e1e1e;
$yellow: #cee35b;
$violet: #5f41d4;

$orange: #d4a76a;

//dashboard colors
$red2: #ff5454;
$blue: #4570fd;
$grey2: #6e7079;
$grey3: #58617b;
$table-bg: #e8ecf4;
$table-color: #9da0af;
$dark-blue: #1b2454;
$dark-blue2: rgba(27, 36, 84, 0.85);
$popup: 1000;
$confirm: 1001;
$toast: 1002;

$CormorantGaramond: 'Cormorant Garamond', serif;
$Garamond: 'EB Garamond', serif;
$Gilroy-UltraLight: 'Gilroy-UltraLight', serif;
$Spectral: 'Spectral', serif;
$ProximaNova: 'ProximaNova';

//blvc
$red: #91110e;
$white: #ffffff;
$Blacksword: 'Blacksword';

//font-weight
$normal: 400;
$speed: 0.3s;
