//old
$blue: #4570fd;
$grey2: #6e7079;
$grey3: #58617b;
$dark-blue: #1b2454;
$dark-blue2: rgba(27, 36, 84, 0.85);

//z-index-ы
$popup: 1000;
$confirm: 1001;
$toast: 1002;

$Spectral: 'Spectral', serif;
$ProximaNova: 'ProximaNova';

//blvc
$Blacksword: 'Blacksword';
$Mulish: 'Mulish', sans-serif;
$red: #91110e;
$red2: #b80000;
$red3: #a61613;
$white: #ffffff;
$black: #1a1a1a;
$black70: rgba(26, 26, 26, 0.7);
$body: #efefef;
$grey: #dfe0e1;

//font-weight
$normal: 400;
$speed: 0.3s;
