//z-index-ы
$popup: 1000;
$confirm: 1001;
$toast: 1002;

$Spectral: 'Spectral', serif;
$ProximaNova: 'ProximaNova';

//blvc
$Blacksword: 'Blacksword';
$Granville: 'Granville';
$Mulish: 'Mulish', sans-serif;
$red: #91110e;
$red2: #b80000;
$red3: #a61613;
$white: #ffffff;
$black: #1a1a1a;
$black70: rgba(26, 26, 26, 0.7);
$body: #efefef;
$grey: #dfe0e1;
$base900light: rgba(26, 26, 26, 0.9);
$base800light: rgba(26, 26, 26, 0.8);
$base600light: rgba(26, 26, 26, 0.6);
$base400light: rgba(26, 26, 26, 0.4);
$base300light: rgba(26, 26, 26, 0.3);
$base200light: rgba(26, 26, 26, 0.2);
$base100light: rgba(26, 26, 26, 0.1);

//font-weight
$normal: 400;
$speed: 0.3s;
