.Button {
  font-size: 100%;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: em(48px);
  padding: em(8px) 0;
  @extend %button;
  box-sizing: border-box;
  border-bottom: 1px solid $red;
  transition: all $speed ease;

  color: rgba(26, 26, 26, 0.9);
  font-family: $Mulish;
  font-size: em(16px);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1.6px;
  text-transform: uppercase;

  &:hover {
    color: $red3;
  }

  &:active {
    color: rgba(26, 26, 26, 0.9);
    opacity: 0.7;
  }

  @include ifmobile {
    font-size: em(12px);
    letter-spacing: 1.2px;
  }
}
