.Popup {
  max-width: em(400px);
  @include ifmobile {
    max-width: em(320px);
  }
}

.Title {
  margin-bottom: em(16px);
}

.Form {
  &_Inputs {
    margin-bottom: em(16px);
    li:not(:last-child) {
      margin-bottom: em(20px);
    }
    .Search {
      input {
        min-width: em(100px);
        width: auto;
        @include ifmobile {
          max-width: 40%;
        }
      }
    }
  }

  &_Buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 em(16px);
    .Button {
      width: 100%;
    }
  }
}
