.Popup svg {
  display: none;
}

.Back {
  margin-bottom: em(32px);
}

.Description {
  margin-bottom: em(32px);
  p {
    color: $base400light;
    font-size: em(14px);
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%; /* 171.429% */
  }
}

.Form {
  &_Input {
    margin-bottom: em(32px);
  }
  &_Button {
    width: 100%;
  }
}
