.Dashboard {
  position: relative;
  background: $body;
  min-height: 100vh;

  &_Body {
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    .Content {
      width: 100%;
      position: relative;
      z-index: 1;
      -ms-overflow-style: none; /* IE и Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .Background {
      position: fixed;
      z-index: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: em(576px);
      overflow: hidden;
      // box-shadow: 0px 0px 50px 0px #e9e9e9;
      // opacity: 0.05;

      &_Image {
        position: absolute;
        left: 0;
        bottom: em(-232px);
        width: 100%;
        height: em(808px);
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include iftablet-mini {
}
@include ifmobile {
}
