.Dashboard {
  position: relative;
  background: $body;
  min-height: 100vh;

  &_Body {
    display: flex;
    position: relative;

    .Content {
      width: 100%;
      position: relative;
      z-index: 1;
      overflow: hidden;
      -ms-overflow-style: none; /* IE и Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .Background {
      position: fixed;
      z-index: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: em(576px);
      overflow: hidden;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      @include iftablet {
        background-size: contain;
        background-position: bottom;
      }
      @include iftablet-mini {
        background-size: contain;
        background-position: bottom;
      }
      @include ifmobile {
        background-image: none;
      }

      @include ifmobile {
        display: none;
      }

      &_Image {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: em(808px);
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include iftablet-mini {
}
@include ifmobile {
}
