.WebsiteForms {
  .Header {
    display: flex;
    flex-direction: row;
    padding: em(65px) em(60px) 0 em(60px);
    margin-bottom: em(32px);

    @include iflaptop {
      padding: em(46px) em(60px) 0 em(60px);
    }
    @include iftablet {
      padding: em(46px) em(20px) 0 em(20px);
    }
    @include iftablet-mini {
      padding: em(46px) em(10px) 0 em(10px);
    }
    @include ifmobile {
      display: none;
    }
    &_Title {
      color: $black;
      font-family: $Blacksword;
      font-size: em(32px);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }
  }

  .Filters {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 em(60px);
    margin-bottom: em(32px);
    @include iftablet {
      justify-content: space-between;
      padding: 0 em(20px);
    }
    @include iftablet-mini {
      justify-content: space-between;
      padding: 0 em(10px);
    }
    @include ifmobile {
      justify-content: space-between;
      padding: em(30px) em(20px) 0 em(20px);
      margin-bottom: em(20px);
    }

    &_Search,
    &_Forms {
      margin-right: em(35px);
      @include iftablet {
        display: none;
      }
      @include iftablet-mini {
        display: none;
      }
      @include ifmobile {
        display: none;
      }
    }
    &_Forms {
      min-width: em(224px);
    }
    &_Mobile {
      display: none;
      @include iftablet {
        display: flex;
      }
      @include iftablet-mini {
        display: flex;
      }
      @include ifmobile {
        display: flex;
      }
    }
  }

  .Table {
    position: relative;
    overflow: auto;
    padding: 0 0 em(126px) em(60px);
    @include iftablet {
      padding: 0 0 em(100px) em(20px);
    }
    @include iftablet-mini {
      padding: 0 0 em(100px) em(10px);
    }
    @include ifmobile {
      padding: 0 0 em(100px) em(20px);
    }
  }
  .EmptyCart {
    border-radius: em(10px);
    background: $white;
    box-shadow: 0px 4px 6px -2px rgba(0, 61, 140, 0.04),
      0px -4px 6px -2px rgba(0, 61, 140, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: em(400px);
    padding: em(20px);

    &_Icon {
      width: em(80px);
      height: em(80px);
      margin-bottom: em(16px);
    }

    &_Title {
      text-align: center;
      margin-bottom: em(8px);
      p {
        color: $grey;
        font-size: em(16px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &_Subtitle {
      text-align: center;
      p {
        color: $grey;
        font-size: em(16px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        span {
          cursor: pointer;
          color: $red;
        }
      }
    }
  }

  .ScrollWrapper {
    overflow: auto;
    width: 100%;
    position: relative;
    padding-right: em(70px);
    @include iflaptop {
      padding-right: em(39px);
    }
    @include iftablet {
      width: max-content;
      padding-right: em(20px);
    }
    @include iftablet-mini {
      width: max-content;
      padding-right: em(10px);
    }
    @include ifmobile {
      width: max-content;
      padding-right: em(20px);
    }
  }

  .THead {
    display: grid;
    grid-template-columns:
      minmax(em(292px), 1fr) minmax(em(292px), 1fr) minmax(em(292px), 1fr) minmax(
        em(292px),
        1fr
      )
      minmax(em(286px), 1fr);
    @include iflaptop {
      grid-template-columns: em(204px) em(204px) em(204px) em(260px) em(251px);
    }
    @include iftablet {
      grid-template-columns: em(126px) em(140px) em(174px) em(260px) em(212px);
    }
    @include iftablet-mini {
      grid-template-columns: em(126px) em(140px) em(174px) em(260px) em(212px);
    }
    @include ifmobile {
      grid-template-columns: em(126px) em(140px) em(174px) em(260px) em(212px);
    }

    &_Column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: em(14px) em(16px);
      height: em(50px);
      border-top: 1px solid $base100light;
      border-left: 1px solid $base100light;
      border-bottom: 1px solid $base100light;
      &:last-child {
        border-right: 1px solid $base100light;
      }
      span {
        color: rgba(26, 26, 26, 0.5);
        font-size: em(14px);
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
      }

      .IconSortBy {
        cursor: pointer;
        width: em(20px);
        height: em(20px);
        margin-left: 2px;
        &:hover {
          path {
            stroke: $black;
          }
        }
      }
    }
  }

  .TBody {
    display: grid;
    grid-template-columns: 1fr;

    &_Row {
      border-bottom: 1px solid $base100light;
      cursor: pointer;
      transition: background $speed ease;
      display: grid;
      grid-template-columns:
        minmax(em(292px), 1fr) minmax(em(292px), 1fr) minmax(em(292px), 1fr) minmax(
          em(292px),
          1fr
        )
        minmax(em(286px), 1fr);
      &:hover {
        background: rgba(253, 253, 253, 0.4);
      }

      @include iflaptop {
        grid-template-columns: em(204px) em(204px) em(204px) em(260px) em(251px);
      }
      @include iftablet {
        grid-template-columns: em(126px) em(140px) em(174px) em(260px) em(212px);
      }
      @include iftablet-mini {
        grid-template-columns: em(126px) em(140px) em(174px) em(260px) em(212px);
      }
      @include ifmobile {
        grid-template-columns: em(126px) em(140px) em(174px) em(260px) em(212px);
      }

      &_Column {
        position: relative;
        min-height: em(50px);
        padding: em(5px) em(16px);
        display: flex;
        align-items: center;
        border-left: 1px solid $base100light;
        &:last-child {
          border-right: 1px solid $base100light;
        }

        .Date,
        .Form,
        .Name,
        .Email,
        .Status {
          color: $base800light;
          font-size: em(14px);
          font-style: normal;
          font-weight: 400;
          line-height: 114.286%; /* 114.286% */

          // -webkit-line-clamp: 1;
          // display: -webkit-box;
          // -webkit-box-orient: vertical;
          // overflow: hidden;
        }
        .Marker {
          width: em(8px);
          height: em(8px);
          flex-shrink: 0;
          border-radius: 50%;
          margin-right: em(8px);
        }
        .New {
          line-height: 100%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%) rotate(-90deg);
          span {
            display: flex;
            color: $red3;
            font-family: $Mulish;
            font-size: em(12px);
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
          }
        }
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include iftablet-mini {
}
@include ifmobile {
}
