.Popup {
  max-width: em(454px);
  @include ifmobile {
    max-width: em(320px);
  }
}
.Title {
  margin-bottom: em(24px);
}

.Buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 em(16px);
  .Button {
    width: 100%;
  }
}
