.SelectContainer {
  position: relative;
  min-width: max-content;
}

.SelectedCounter {
  white-space: nowrap;
  font-family: $Mulish;
  font-size: em(14px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #1a1a1a;
}

.SelectHeader {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: em(48px);
  padding: em(23px) em(16px) em(10px) em(10px);
  border-radius: 0;
  border-bottom: 1px solid $base600light;
  line-height: 100%;
  transition: all 0.3s ease;
  @include placeholder-color(transparent);

  &_DefaultPadding {
    padding: em(15px) em(16px) em(15px) em(10px);
  }

  p {
    display: block;
    width: max-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Mulish', sans-serif;
    font-size: em(14px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #1a1a1a;

    &:not(.NotEmpty) {
      display: none;
    }
  }

  .NotEmpty {
    font-family: $Mulish;
    font-size: em(14px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  &_Error {
    border-bottom: 1px solid $red3 !important;
  }

  &_Chevron {
    position: absolute;
    right: em(20px);
    top: 50%;
    transform: translate(0%, -50%);
    width: em(11px);
    height: em(6px);
    margin-left: em(12px);
    transition: all $speed ease;
    &_Active {
      transform: rotate(180deg) translate(0, 50%);
    }
  }
}

.SelectList {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  z-index: 10000;
  min-width: max-content;
  width: auto;
  min-width: 100%;
  max-height: em(260px);
  overflow: auto;
  padding: em(24px) 0;

  border-radius: em(8px);
  border: 1px solid #dedede;
  background: #f7f7f8;
  box-shadow: 0px 15px 12px -8px rgba(0, 0, 0, 0.05);

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.ListItem {
  position: relative;
  list-style: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: em(8px) em(44px) em(8px) em(24px);
  min-width: max-content;

  &:hover {
    background-color: #fff;
  }

  .ListItemTitle {
    color: $base600light;
    font-family: $Mulish;
    font-size: em(14px);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  &_Active {
    .ListItemTitle {
      color: $base900light;
    }
  }

  &_IconCheck {
    position: absolute;
    right: em(16px);
    top: 50%;
    transform: translate(0, -50%) rotate(-5.742deg);
    width: em(26px);
    height: em(16px);
  }
}

.Label {
  $size: 14px;
  position: absolute;
  top: em(17px, $size);
  left: em(10px, $size);
  pointer-events: none;
  margin-right: auto;
  color: #1a1a1a;
  opacity: 0.6;
  font-family: 'Mulish', sans-serif;
  font-size: em($size);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  transition: all 0.3s ease;
  &_Focus {
    $size: 12px;
    top: 0;
    left: em(10px, $size);
    font-size: em($size);
    display: block !important;
  }
}

.Error {
  border-bottom: 1px solid $red3 !important;
}

.Disabled {
  cursor: not-allowed;
  pointer-events: none;
  border-color: $base400light !important;
  .SelectHeader_Chevron {
    opacity: 0.4;
  }
  .Label {
    color: $base400light !important;
  }
  p {
    color: $base400light !important;
  }
}

.ClearValue {
  position: absolute;
  right: em(40px);
  top: 50%;
  transform: translate(0, -50%);
  width: em(20px);
  height: em(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #e8e8ea;
  svg {
    width: em(14px);
    height: em(14px);
  }
}
