.SelectContainer {
	position: relative;
	min-width: max-content;
}

.SelectedCounter {
	color: $dark-blue2;
	font-size: em(16px);
	line-height: 100%;
	font-family: $ProximaNova;
	white-space: nowrap;
}

.SelectHeader {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: em(10px) em(70px) em(10px) em(20px);
	border-radius: em(6px);
	border: 1px solid #e8e8ea;
	line-height: 100%;
	transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-webkit-transition: 0.5s ease all;
	@include placeholder-color($grey2);

	&_Focus,
	&:hover {
		border: 1px solid #4570fd;
	}

	p {
		display: block;
		font-weight: normal;
		line-height: 100%;
		width: max-content;
		color: #0f1f4e;
		font-size: em(16px);
		line-height: 100%;
		font-family: $ProximaNova;
		white-space: nowrap;
		color: rgba(26, 26, 26, 0.8);

		&:not(.NotEmpty) {
			display: none;
		}
	}

	.NotEmpty {
		color: $dark-blue2;
		font-family: $ProximaNova;
		font-size: em(16px);
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
	}

	&_Chevron {
		position: absolute;
		right: em(20px);
		top: 50%;
		transform: translate(0, -50%);
		width: em(14px);
		height: em(14px);
		margin-left: em(12px);
		transition: all $speed ease;
		&_Active {
			transform: rotate(180deg) translate(0, 50%);
		}
	}
}

.SelectList {
	position: absolute;
	top: calc(100% + 6px);
	left: 0;
	z-index: 10000;
	min-width: max-content;
	width: auto;
	min-width: 100%;
	max-height: em(148px);
	border-radius: em(4px);
	background: $white;
	overflow: auto;
	box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.08),
		0px 2px 4px -1px rgba(0, 0, 0, 0.06);

	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: none; /* Firefox */
}

.ListItem {
	list-style: none;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: em(10px) em(20px);
	min-width: max-content;

	&:hover {
		background-color: rgb(243, 244, 246, 1);
	}

	// &_Active {
	// 	background-color: rgb(243, 244, 246, 1);
	// }

	span {
		margin-right: em(10px);
	}

	.ListItemTitle {
		font-size: em(16px);
		font-weight: 400;
		font-family: $ProximaNova;
		color: $dark-blue2;
		font-style: normal;
		line-height: 150%;
	}

	&_IconCheck {
		width: em(20px);
		height: em(20px);
		margin-left: em(4px);
		path {
			fill: $dark-blue;
		}
	}
}

.Label {
	color: #6e7079;
	font-family: $ProximaNova;
	font-size: em(16px);
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	pointer-events: none;
	transition: all 0.3s ease;
	margin-right: auto;
}

.Error {
	border: 1px solid $red2 !important;
}

.ErrorText {
	color: $red2;
	font-family: $ProximaNova;
	font-size: em(12px);
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	margin-top: em(2px);
}

.Disabled {
	cursor: not-allowed;
	pointer-events: none;
	background: #f4f4f5;
	border: 1px solid #e5e7eb !important;
	& p {
		color: rgba(26, 26, 26, 0.5) !important;
	}
}

.Select_mini {
	.SelectHeader {
		height: em(44px);
	}
}

.ClearValue {
	position: absolute;
	right: em(40px);
	top: 50%;
	transform: translate(0, -50%);
	width: em(20px);
	height: em(20px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #e8e8ea;
	svg {
		width: em(14px);
		height: em(14px);
	}
}
