.BaseInput {
	font-size: 100%;
	position: relative;
	display: flex;
	flex-direction: column;

	&_Disabled {
		cursor: not-allowed;
		pointer-events: none;
		background: #f7f7f8;
		color: rgba(26, 26, 26, 0.5);
		border-radius: em(6px);
		transition: all $speed ease;
	}
}

.ErrorText {
	pointer-events: none;
	margin-top: em(2px);
	span {
		display: flex;
		color: $red2;
		font-family: $ProximaNova;
		font-size: em(12px);
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
	}
}
