.Popup svg {
  display: none;
}

.Back {
  margin-bottom: em(32px);
}

.Description {
  margin-bottom: em(32px);
  p {
    color: $base400light;
    font-size: em(14px);
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%; /* 171.429% */
  }
}

.Form {
  &_VerificationCode {
    .Error {
      margin-top: em(10px);
      p {
        color: $base600light;
        font-size: em(11px);
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 11px */
      }
    }

    .RepeatSending {
      margin-top: em(32px);
      p {
        color: $base300light;
        text-align: center;
        font-size: em(14px);
        font-style: normal;
        font-weight: 500;
        line-height: 171.429%; /* 171.429% */
        span {
          color: $red3;
          cursor: pointer;
        }
      }
    }
  }

  &_Button {
    margin-top: em(32px);
    width: 100%;
  }
}
