@import './../src/assets/scss/core.scss';

///стили для InputPhone
.react-tel-input {
  font-size: 100% !important;
}
.react-tel-input .form-control {
  $size: 14px;
  border-radius: 0 !important;
  letter-spacing: inherit !important;
  outline: none !important;
  border: none !important;
  width: 100% !important;
  height: em(48px, $size) !important;
  box-sizing: border-box !important;
  position: relative !important;
  @include placeholder-color(transparent !important);
  padding: em(23px, $size) em(16px, $size) em(10px, $size) em(60px, $size) !important;
  text-transform: uppercase !important;
  background: transparent !important;
  border-bottom: 1px solid rgba(26, 26, 26, 0.6) !important;
  transition: all $speed ease !important;
  color: #1a1a1a !important;
  font-family: $Mulish !important;
  font-size: em($size) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}

.react-tel-input .country-list {
  width: 100% !important;
  margin: 0 !important;
  min-height: em(246px) !important;
  top: calc(100% + 4px) !important;
  padding: em(24px) 0 !important;
  border-radius: em(8px) !important;
  border: 1px solid #dedede !important;
  background: $body !important;
  box-shadow: 0px 15px 12px -8px rgba(0, 0, 0, 0.05) !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

.react-tel-input .country-list .search {
  background: #222226 !important;
}

.react-tel-input .flag-dropdown {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
}

.react-tel-input .flag-dropdown.open {
  width: 100% !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  background: none !important;
}

.react-tel-input .selected-flag {
  padding: 0 0 0 em(10px) !important;
}
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background: none !important;
}

.react-tel-input .country-list .country:hover {
  background: $white !important;
}

.react-tel-input .country-list .country .dial-code {
  font-family: $Mulish !important;
  font-weight: 400 !important;
  font-size: em(16px) !important;
  line-height: 150% !important;
  color: rgba(26, 26, 26, 0.9) !important;
  z-index: 10000 !important;
}

.react-tel-input .country-list .country.highlight {
  background-image: url('/pictures/icons/selected.svg') !important;
  background-position: 94% 50% !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  .country-name {
    color: rgba(26, 26, 26, 0.9) !important;
  }
  .dial-code {
    color: rgba(26, 26, 26, 0.9) !important;
  }
}

.react-tel-input .country-list .country {
  display: flex !important;
  align-items: center !important;
  padding: em(8px) em(24px) !important;
  margin-bottom: em(8px) !important;
}
.react-tel-input .country-list .country:last-child {
  margin-bottom: 0 !important;
}

.react-tel-input .country-list .country-name {
  font-size: em(16px) !important;
  font-weight: 400;
  line-height: 160%;
  font-family: $Mulish !important;
  order: 1;
  margin-left: em(10px) !important;
}

.react-tel-input .country-list .search-emoji {
  background-image: url('/pictures/icons/search.svg') !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 23px !important;
  height: 23px !important;
  display: inline-flex !important;
  font-size: 0 !important;
}

.react-tel-input .country-list .search {
  display: flex;
  align-items: center;
  padding: em(12px) em(16px) !important;
  z-index: 1000000;
  border-radius: em(6px) !important;
  background: $white !important;
  border: 1px solid #d1d5db !important;
  margin: 0 em(20px) 0;
  box-shadow: 0px em(-120px) 0 em(120px) $body;
}

.react-tel-input .country-list .search-box {
  width: 100% !important;
  border: none !important;
  border-radius: 0 !important;
  margin-left: em(12px) !important;
  outline: none !important;
  font-weight: 400 !important;
  font-size: em(16px) !important;
  line-height: 100% !important;
  background: none !important;
  color: #1a1a1a !important;
  padding: 0 !important;
  font-family: $Mulish !important;
  @include placeholder-color(#6e7079 !important);
}

.react-tel-input .country-list .flag {
  margin-right: em(12px) !important;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none !important;
}

.react-tel-input .form-control.phone-input-error {
  border-color: $red3 !important;
}
.react-tel-input .selected-flag .arrow {
  width: em(15px) !important;
  height: em(15px) !important;
  background-image: url('/pictures/icons/chevron-down.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border: none !important;
  margin: 0 !important;
  left: em(24px) !important;
  top: em(7px) !important;
  transform: translate(0, -50%) !important;
  transition: all $speed ease-in-out;
}

.react-tel-input .selected-flag .up {
  transform: translate(0, -50%) rotate(180deg) !important;
}

.react-tel-input .form-control + div:before {
  display: none;
}

.react-tel-input .country-list .no-entries-message {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: em(20px) !important;
  span {
    font-weight: 400 !important;
    font-size: em(16px) !important;
    color: #1a1a1a !important;
    font-family: $Mulish !important;
  }
}

.react-tel-input .form-control + div:before {
  $size: 12px;
  content: 'Phone';
  position: absolute !important;
  top: 0 !important;
  left: em(10px, $size) !important;
  display: block !important;
  color: #1a1a1a;
  opacity: 0.6;
  font-family: 'Mulish', sans-serif;
  font-size: em($size);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.react-tel-input .selected-flag .flag {
  margin-top: 0 !important;
}
.react-tel-input :disabled {
  color: rgba(26, 26, 26, 0.6) !important;
}

.form-control:disabled + div:before {
  opacity: 0.4 !important;
}

// КОД ВАРИФИКАЦИИ ИЗМЕНЕНИЯ ТЕЛЕФОНА
.vi__wrapper {
  width: 100%;
}

.VerificationCode {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .Input {
    $size: 29px;
    width: 100%;
    max-width: em(43px, $size) !important;
    height: em(48px, $size) !important;
    padding: em(10px, $size) em(12px, $size) !important;
    background: none !important;
    outline: none !important;
    border: none !important;
    position: relative !important;
    box-shadow: none !important;
    background: transparent !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(26, 26, 26, 0.6) !important;
    transition: all 0.3s ease !important;
    @include placeholder-color(transparent);
    text-align: center !important;
    flex-grow: initial;
    flex-basis: initial;
    color: rgba(26, 26, 26, 0.8) !important;
    text-overflow: ellipsis !important;
    font-family: $Mulish !important;
    font-size: em($size) !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 100% !important;

    @include ifmobile {
      $size: 29px;
      max-width: em(22px, $size) !important;
      padding: em(10px, $size) em(2px, $size) !important;
    }
  }

  .Error {
    border-color: $red3 !important;
  }
}

// СТИЛИ ПАГИНАЦИИ
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  @include ifmobile {
    margin: 0;
    margin-right: auto;
  }
  .page-item {
    width: em(24px);
    height: em(24px);
    margin: 0 em(4px);
    cursor: pointer;
    position: relative;
    &::before {
      display: none;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: $red3;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $base400light;
      text-align: center;
      font-family: $Mulish;
      font-size: em(14px);
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      @include iftablet {
        font-size: em(12px);
      }
      @include iftablet-mini {
        font-size: em(12px);
      }
      @include ifmobile {
        font-size: em(12px);
      }
    }

    &:first-child,
    &:last-child {
      width: em(20px);
      height: em(20px);
      svg {
        width: inherit;
        height: inherit;
      }
      @include iftablet {
        width: em(12px);
        height: em(12px);
      }
      @include iftablet-mini {
        width: em(12px);
        height: em(12px);
      }
      @include ifmobile {
        width: em(12px);
        height: em(12px);
      }
    }

    &:first-child {
      margin-right: em(12px);
    }
    &:last-child {
      margin-left: em(12px);
    }
  }

  .page-item.active {
    a {
      color: $red3;
    }
  }
  .page-item.active::before {
    display: block;
  }
}

//СТИЛИ ПАГИНАЦИИ
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  .page-item.active {
    border-radius: em(6px);
    background: #ebeff9;
    a {
      color: $red3;
    }
  }
  li {
    font-size: 100%;
    cursor: pointer;
    display: flex;
    width: em(24px);
    height: em(24px);
    margin: 0 em(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    @include iflaptop {
    }
    @include iftablet {
      margin: 0 em(1px);
    }
    @include ifmobile {
      margin: 0 em(1px);
    }
  }
  li a {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $grey;
    text-align: center;
    font-size: em(12px);
    font-style: normal;
    font-weight: 400;
    line-height: initial;
  }
  li:first-child {
    margin-right: em(16px);
    @include iftablet {
      margin-right: em(8px);
    }
    @include ifmobile {
      margin-right: em(8px);
    }
  }
  li:last-child {
    margin-left: em(16px);
    @include iftablet {
      margin-left: em(8px);
    }
    @include ifmobile {
      margin-left: em(8px);
    }
  }

  .prev-btn,
  .next-btn {
    width: em(20px);
    height: em(20px);
  }
}
