.Title {
  &_h1 {
    color: $black;
    font-family: $Mulish;
    font-size: em(20px);
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
    @include ifmobile {
      font-size: em(16px);
    }
  }

  &_h2 {
    font-size: em(24px);
    line-height: 133%;
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
