.ForgotPassword {
	position: relative;
	min-height: 100vh;
	padding: 0 em(10px);
}

.Lines {
	position: fixed;
	top: em(200px);
	@include iflaptop {
		top: em(161px);
	}
	@include iftablet {
		top: em(161px);
	}
	@include ifmobile {
		display: none;
	}
}

.Content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: em(100px) 0 em(60px);
	@include iflaptop {
		padding: em(70px) 0 em(63px);
	}
	@include iftablet {
		padding: em(90px) 0 em(63px);
	}
	@include ifmobile {
		padding: em(60px) 0 em(116px);
	}

	.Logo {
		width: em(136px);
		height: em(50px);
		margin-bottom: em(50px);
		@include ifdesktop {
			width: em(190px);
			height: em(70px);
			margin-bottom: em(48px);
		}

		@include iftablet {
			margin-bottom: em(20px);
		}
	}

	.Form {
		display: flex;
		flex-direction: column;
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(4px);
		border-top: em(4px) solid $grey;
		width: 100%;
		max-width: em(600px);
		padding: em(73px) em(70px) em(60px);

		@include iflaptop {
			padding: em(55px) em(70px) em(30px);
		}
		@include iftablet {
			padding: em(55px) em(70px) em(42px);
		}
		@include ifmobile {
			padding: em(35px) em(10px) em(30px);
		}

		&_Title {
			text-align: center;
			margin-bottom: em(18px);
			h1 {
				color: $grey;
				font-size: em(30px);
				font-style: normal;
				font-weight: $normal;
				line-height: 140%;
				letter-spacing: 0.4px;
				text-transform: uppercase;
				@include ifdesktop {
					font-size: em(34px);
				}
				@include ifmobile {
					font-size: em(24px);
				}
			}
		}

		&_Subtitle {
			width: 100%;
			max-width: em(400px);
			margin: 0 auto;
			margin-bottom: em(40px);
			text-align: center;
			@include ifdesktop {
				margin-bottom: em(61px);
			}
			p {
				color: $grey;
				font-size: em(18px);
				font-style: normal;
				font-weight: $normal;
				line-height: 140%;
				letter-spacing: 0.18px;
				@include ifmobile {
					font-size: em(16px);
				}
			}
		}

		&_Input {
			margin-bottom: em(60px);
		}

		&_Button {
			width: 100%;
			@include ifmobile {
				height: em(48px);
			}
		}
	}

	.BtnBack {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		margin-top: em(40px);
		@include ifdesktop {
			margin-top: em(60px);
		}
		&:hover {
			svg {
				transform: translateX(em(-10px)) rotate(180deg);
			}
		}

		svg {
			width: em(63px);
			height: em(16px);
			margin-right: em(18px);
			transition: transform $speed ease;
			transform: rotate(180deg);
		}

		span {
			color: $white;
			font-size: em(18px);
			font-style: normal;
			line-height: 100%;
			font-weight: $normal;
			letter-spacing: 0.72px;
			text-transform: uppercase;
			user-select: none;
		}
	}
}
